html, body{
    font-family: 'Roboto', sans-serif;
  }
 hr {background-color: black;
 }

.one { text-align: justify;
    text-decoration: underline;
    font-size: 2rem; color:black;
}

.columns {height: 100%;
}


.greybox {background-color: grey; height: 50%;
}

.content { height: 50%;
}

.button-area { text-align: left; height: 5%;
}


.form-area { background-color: grey; text-decoration-color: white;
}

.f1 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
 }